Goal: identify list of people who attended both Wednesday and Thursday Sessions

Data format: two different tables in Excel workbook

Solution: Using Python Pandas to clean and perform inner join on "ID"

## Cleaning Data

In [31]:
import pandas as pd

In [42]:
df = pd.read_excel('Test.xlsx',sheet_name='Exercise #4')
df

,Unnamed: 0,Wednesday Session,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Thursday Session,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Name,ID,Region,Retake?,NaN,NaN,NaN,Name,Code,Status,Retake?
2,NaN,Jody,F-40,North,NaN,NaN,NaN,NaN,Rhonda,R-509,Full Time,NaN
3,NaN,Oren,K-801,East,Y,NaN,NaN,NaN,Steph,R-369,Part Time,Y
4,NaN,Kevin,E-318,Central,NaN,NaN,NaN,NaN,Lloyd,R-163,Full Time,NaN
5,NaN,Phyllis,F-483,East,NaN,NaN,NaN,NaN,Niam,E-271,Full Time,NaN
6,NaN,John,F-553,East,NaN,NaN,NaN,NaN,Phyllis,F-483,Full Time,NaN
7,NaN,John,E-515,Central,Y,NaN,NaN,NaN,James,R-476,Full Time,Y
8,NaN,Rhonda,R-509,North,Y,NaN,NaN,NaN,Dale,E-93,Part Time,NaN
9,NaN,Larry,E-259,North,NaN,NaN,NaN,NaN,Cynthia,E-662,Part Time,NaN
10,NaN,John,E-195,East,NaN,NaN,NaN,NaN,Denise,F-760,Full Time,NaN
11,NaN,Lucille,K-76,West,NaN,NaN,NaN,NaN,Sabra,K-80,Full Time,Y
12,NaN,Amita,A-357,West,NaN,NaN,NaN,NaN,Ruby,K19,Intern,NaN
13,NaN,James,A-171,West,Y,NaN,NaN,NaN,Edme,K-201,Full Time,NaN
14,NaN,James,R-476,Central,NaN,NaN,NaN,NaN,John,R-92,Full Time,Y
15,NaN,Melissa,F-83,North,Y,NaN,NaN,NaN,Jusep,D-51,Part Time,NaN
16,NaN,Steph,R-369,East,NaN,NaN,NaN,NaN,Andy,D-24,Part Time,Y
17,NaN,Mel,A-374,West,NaN,NaN,NaN,NaN,Raoul,F-604,Part Time,Y
18,NaN,John,F-230,West,NaN,NaN,NaN,NaN,John,F-503,Full Time,NaN
19,NaN,Darius,R-356,Central,NaN,NaN,NaN,NaN,John,E-515,NaN,NaN
20,NaN,Bo,C-42,West,Y,NaN,NaN,NaN,Stacy,E-57,Full Time,NaN
21,NaN,Benny,R-594,Central,Y,NaN,NaN,NaN,Melissa,F-83,Part Time,NaN
22,NaN,Kevin,A-831,Central,Y,NaN,NaN,NaN,Vlad,R-171,Full Time,NaN
23,NaN,Dayla,K-66,West,NaN,NaN,NaN,NaN,Gregor,E-598,Full Time,NaN
24,NaN,Noella,K-300,West,NaN,NaN,NaN,NaN,Noreen,F-593,NaN,NaN
25,NaN,Dayton,R-9,Central,NaN,NaN,NaN,NaN,Sylvester,D-748,Intern,NaN
26,NaN,Gil,E-247,Central,NaN,NaN,NaN,NaN,Stacy,F-451,Full Time,Y
27,NaN,Stacy,K-47,North,Y,NaN,NaN,NaN,Stacy,C-254,Part Time,NaN
28,NaN,Melissa,F-56,West,NaN,NaN,NaN,NaN,Dayton,R-9,Part Time,Y
29,NaN,Stacy,C-254,NaN,NaN,NaN,NaN,NaN,Amita,A-357,Full Time,NaN
30,NaN,Stacy,E-57,NaN,NaN,NaN,NaN,NaN,Anita,C-84,Full Time,NaN
31,NaN,Justine,R-607,Central,NaN,NaN,NaN,NaN,James,A-171,Part Time,NaN
32,NaN,Renee,E-155,Central,NaN,NaN,NaN,NaN,Justine,R-607,Part Time,NaN
33,NaN,Niam,E-271,North,NaN,NaN,NaN,NaN,Justina,R-465,Part Time,Y
34,NaN,Noreen,F-593,Central,Y,NaN,NaN,NaN,Larry,E-259,Full Time,Y
35,NaN,Eve,K-38,West,NaN,NaN,NaN,NaN,Renee,E-155,Full Time,NaN
36,NaN,Jean-Claude,E-439,West,NaN,NaN,NaN,NaN,GiGi,D-83,NaN,Y
37,NaN,John,R-92,North,NaN,NaN,NaN,NaN,Graciella,C-81,Full Time,NaN
38,NaN,Karen,A-509,Central,NaN,NaN,NaN,NaN,Todd,A-13,Full Time,NaN
39,NaN,Melanie,R-394,Central,NaN,NaN,NaN,NaN,Fernando,F-193,Full Time,NaN
40,NaN,John,A-222,Central,Y,NaN,NaN,NaN,Amos,F-479,Full Time,NaN
41,NaN,Troy,A-291,North,NaN,NaN,NaN,NaN,John,F-230,Part Time,Y
42,NaN,French,A-397,West,NaN,NaN,NaN,NaN,Mel,A-374,Full Time,NaN
43,NaN,Raoul,F-604,Central,NaN,NaN,NaN,NaN,Gil,E-247,Full Time,Y
44,NaN,Anita,C-84,Central,Y,NaN,NaN,NaN,John,E-195,Intern,NaN
45,NaN,Cecil,C-91,Central,NaN,NaN,NaN,NaN,Kevin,E-318,Full Time,NaN
46,NaN,Stacy,F-451,West,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,Justina,R-465,North,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,NaN,Jesus,K-117,North,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,NaN,Stone,A-472,Central,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,NaN,Gretchen,F-322,North,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,NaN,Sylvia,C-59,North,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,NaN,Cane,K-412,West,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
df = df.drop(['Unnamed: 0','Unnamed: 5', 'Unnamed: 6','Unnamed: 7'],axis=1)   #drop columns, axis = 1
df = df.drop([0,1],axis = 0)            #drop row 0
df = df.rename(columns={"Wednesday Session": "Name", "Unnamed: 2": "ID", "Unnamed: 3": "Region", "Unnamed: 4": "Retake?", "Thursday Session": "Name", "Unnamed: 9": "ID", "Unnamed: 10": "Status","Unnamed: 11": "Retake?"})

In [45]:
df1 = df.iloc[:, 0:3]                                          #splitting dataframe into 2
df2 = df.iloc[:, 4:7]

## Inner Join

In [47]:
df_clean = pd.merge(df1, df2, on =['ID'], how='inner')         #other joins are: outer,left,right

In [48]:
df_clean

     Name_x     ID   Region   Name_y     Status
0     Kevin  E-318  Central    Kevin  Full Time
1   Phyllis  F-483     East  Phyllis  Full Time
2      John  E-515  Central     John        NaN
3    Rhonda  R-509    North   Rhonda  Full Time
4     Larry  E-259    North    Larry  Full Time
5      John  E-195     East     John     Intern
6     Amita  A-357     West    Amita  Full Time
7     James  A-171     West    James  Part Time
8     James  R-476  Central    James  Full Time
9   Melissa   F-83    North  Melissa  Part Time
10    Steph  R-369     East    Steph  Part Time
11      Mel  A-374     West      Mel  Full Time
12     John  F-230     West     John  Part Time
13   Dayton    R-9  Central   Dayton  Part Time
14      Gil  E-247  Central      Gil  Full Time
15    Stacy  C-254      NaN    Stacy  Part Time
16    Stacy   E-57      NaN    Stacy  Full Time
17  Justine  R-607  Central  Justine  Part Time
18    Renee  E-155  Central    Renee  Full Time
19     Niam  E-271    North     Niam  Full Time
20   Noreen  F-593  Central   Noreen        NaN
21     John   R-92    North     John  Full Time
22    Raoul  F-604  Central    Raoul  Part Time
23    Anita   C-84  Central    Anita  Full Time
24    Stacy  F-451     West    Stacy  Full Time
25  Justina  R-465    North  Justina  Part Time

In [49]:
df_clean = df_clean.drop(['Name_y'],axis=1)   
df_clean = df_clean.rename(columns={"Name_x": "Name"})
df_clean

       Name     ID   Region     Status
0     Kevin  E-318  Central  Full Time
1   Phyllis  F-483     East  Full Time
2      John  E-515  Central        NaN
3    Rhonda  R-509    North  Full Time
4     Larry  E-259    North  Full Time
5      John  E-195     East     Intern
6     Amita  A-357     West  Full Time
7     James  A-171     West  Part Time
8     James  R-476  Central  Full Time
9   Melissa   F-83    North  Part Time
10    Steph  R-369     East  Part Time
11      Mel  A-374     West  Full Time
12     John  F-230     West  Part Time
13   Dayton    R-9  Central  Part Time
14      Gil  E-247  Central  Full Time
15    Stacy  C-254      NaN  Part Time
16    Stacy   E-57      NaN  Full Time
17  Justine  R-607  Central  Part Time
18    Renee  E-155  Central  Full Time
19     Niam  E-271    North  Full Time
20   Noreen  F-593  Central        NaN
21     John   R-92    North  Full Time
22    Raoul  F-604  Central  Part Time
23    Anita   C-84  Central  Full Time
24    Stacy  F-451     West  Full Time
25  Justina  R-465    North  Part Time